:root {
  --chart-bg-color: #f4eec7;
  --header-bg-color: #fe9801; 
  --chart-bar01: #ccda46;
  --chart-bar02: #697c37;
}

* {
  box-sizing: border-box;
}

html {
font-family: 'Source Sans Pro', sans-serif;
}

body {
margin: 0;
}

/* button:focus {
outline: none;
} */

/* .Container {
display: grid;
grid-template-columns: 10% minmax(20rem, 80rem) 10%;
grid-template-rows: 5rem 100% 2.5rem;
grid-template-areas: " header header header "
                    " left-side main right-side "
                    " footer footer footer " ; 
} */

.Container {
display: flex;
flex-direction: column;
justify-content: center;
}

.header {
grid-area: header;
text-align: center;
margin-bottom: 1rem;
/* border: 1px solid black; */
background-color: skyblue;
}

.main {
width: 90%;
height: 100%;
/* border: 1px solid black; */
background-color: whitesmoke;
align-self: center;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.footer {
height: 4rem;
margin-top: 2.5rem;
padding: 0.4rem;
text-align: center;
grid-area: footer;
/* border: 1px solid black; */
background-color: skyblue;
}

.BarChart-header {
background-color: lightgray;
text-align: center;
padding: 0.5rem;
height: 2rem;
}

.BarChart-header--title {
display: inline-block;
padding: 0rem 0.5rem;
}

.BarChart-header--base-selection {
display: inline-block;
}

.BarChart-frame {
background-color: var(--chart-bg-color);
display: flex;
flex-direction: row;
align-items: flex-end;
height: 280px;
border-bottom: 2px solid gray;
}


.btn--selected {
background-color: tomato;
}

@media screen and (max-width: 40rem) {
  .BarChart-bar {
  font-size: 3vw;
  }
} 
